{
	"watch":
	[
		{
			"name": "characterName",
			"realm": "realm",
			"region": "region"
		}
	],
	"lang": "en",
	"hostname": "http://%r%.battle.net",
	"path": "/wow/%l%/character/%s%/%c%/feed",
	"slackHookUrl" : "https://hooks.slack.com/services/...."
}
